Repository Zarathustra2/TheShareGame: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, backend-chat

codecov.yml:

coverage:
  status:
    backend:
      flags: backend
      target: 0%
      threshold: null
    frontend:
      flags: frontend
      target: 0%
    backend-chat:
      target: 0%
      flags: chat
flags:
  backend:  
    paths:
      - backend
  frontend:
    paths:
      - frontend
  backend-chat:
    paths:
      - backend/chat

Frontend: Fixed an issue where users could not resubmit a register form.
  frontend/src/views/Register.vue
Due: frontend

Backend: Added missing default logo for companies
  backend/mediafiles/logo_default.jpg
Due: backend

CircleCI: Fied build frontend not having enough memory.
  .circleci/config.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/vue.config.js
Due: frontend

fix a few hanging typos
  CHANGELOG.md
  CONTRIBUTING.md
  NOTES.md
  README.md
  docs/source/credits.rst
  docs/source/manual.rst
  docs/source/what-is-tsg.rst
Due: none

Frontend: Fixed header link for navbar when not logged in
  frontend/src/components/navbar/NavbarNotLoggedIn.vue
Due: frontend

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Frontend: Closes #5 & #7
  .ctags.d/thesharegame.ctags
  frontend/src/components/company/Datasheet.vue
  frontend/src/views/DataProtection.vue
  frontend/src/views/Imprint.vue
  frontend/src/views/company/Company.vue
  frontend/tests/unit/views/__snapshots__/Imprint.spec.js.snap
Due: frontend

Frontend: Added link to user's profile in companies table.
  frontend/src/views/market/Companies.vue
  frontend/tests/unit/views/market/Companies.spec.js
Due: frontend

Backend: Closes #12
  .circleci/config.yml
  backend/Makefile
  backend/chat/Makefile
  backend/periodic_tasks/orders.py
  backend/periodic_tasks/tests/test_orders.py
  frontend/Makefile
  frontend/cypress.json
  frontend/jest.config.js
Due: backend, frontend, backend-chat

Backend: Closes #14
  backend/chat/Makefile
  backend/periodic_tasks/orders.py
  backend/periodic_tasks/tests/test_orders.py
  frontend/tests/unit/views/company/BuyerSeller.spec.js
Due: backend, frontend, backend-chat

Backend: Closes #4
  backend/users/serializers.py
  backend/users/tests/test_views.py
Due: backend

Frontend: Closes #6
  frontend/src/components/social/ChatBox.vue
Due: frontend

Backend: Key figures for centralbank
  backend/periodic_tasks/key_figures.py
Due: backend

Frontend: Fixing CircleCI Memory issues
  frontend/vue.config.js
Due: frontend

Github Actions: Frontend
  .github/workflows/nodejs.yml
Due: none

Github actions: Websockets
  .github/workflows/go.yml
Due: none

Github Actions: Fixed wd for websockets
  .github/workflows/go.yml
Due: none

Github Actions: Added coverage for frontend
  .github/workflows/nodejs.yml
Due: none

Github Actions: Backend Api
  .github/workflows/pythonapp.yml
Due: none

Github Actions: Collecting coverage frontend
  .github/workflows/nodejs.yml
Due: none

Github Actions: Docs
  .github/workflows/docs.yml
Due: none

Github Actions: Frontend (#18)
  .github/workflows/nodejs.yml
Due: none

Github actions: Websockets (#19)
  .github/workflows/go.yml
Due: none

Github Actions: Backend Api (#20)
  .github/workflows/pythonapp.yml
Due: none

Github Actions: Docs (#21)
  .github/workflows/docs.yml
Due: none

Github Acctions: Fixed workin dir docs
  .github/workflows/docs.yml
Due: none

Github Actions: Merged all work flows into one
  .github/workflows/main.yml
Due: none

GitHub Actions: Deleted unused work flow files.
  .github/workflows/docs.yml
  .github/workflows/go.yml
  .github/workflows/nodejs.yml
  .github/workflows/pythonapp.yml
Due: none

GitHub Actions: Fixed missing Redis for backend.
  .github/workflows/main.yml
Due: none

Github Actions: Persisting data between jobs
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none
