Repository Zarathustra2/TheShareGame: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, backend-chat

Update main.yml
  .github/workflows/main.yml
Due: none

GitHub Actions: docker only on master
  .github/workflows/main.yml
Due: none

CirlceCI: Removed circleci
  .circleci/config.yml
Due: none

Updated README.md
  README.md
Due: none

Github Actions: Replacing circleci
  .circleci/config.yml
  .github/workflows/docs.yml
  .github/workflows/go.yml
  .github/workflows/main.yml
  .github/workflows/nodejs.yml
  .github/workflows/pythonapp.yml
  README.md
Due: none

Backend: Fixed failing test
  backend/core/tests/test_models.py
Due: backend

Change folder fonts to .fonts
  .fonts/arial.ttf
  docker-compose.yml
Due: none

Deleted fonts folder
  fonts/arial.ttf
Due: none

Close #11 (#23)
  .fonts/arial.ttf
  docker-compose.yml
Due: none

CI: Working on deploying from master to server
  .github/workflows/main.yml
Due: none

Using other branch now
  .github/workflows/main.yml
Due: none

Deploying now!
  .github/workflows/main.yml
Due: none

Deploying now when on master
  .github/workflows/main.yml
Due: none

Deploy master to server (#24)
  .github/workflows/main.yml
Due: none

CI: Fixed building docker containers twice
  .github/workflows/main.yml
Due: none

Frontend: Fixed rounding issues in depot chart
  frontend/src/components/company/DepotPositionTable.vue
  frontend/src/components/company/charts/DepotPieChart.vue
  frontend/src/views/FoundFirstCompany.vue
  frontend/src/views/Welcome.vue
  frontend/tests/unit/views/__snapshots__/Welcome.spec.js.snap
  frontend/vue.config.js
Due: frontend

Closes #13
  backend/core/models.py
  backend/core/tests/test_views.py
  backend/core/urls.py
  backend/core/views.py
  frontend/src/components/company/LiquidityOverview.vue
  frontend/src/service/api.js
  frontend/src/views/market/Bonds.vue
  frontend/src/views/market/Order.vue
  frontend/tests/unit/components/company/LiquidityOverview.spec.js
  frontend/tests/unit/views/market/Bonds.spec.js
Due: backend, frontend

Frontend: Tests for ThreadDetail- & ThreadForm
  frontend/src/components/social/ThreadDetailForm.vue
  frontend/src/components/social/ThreadForm.vue
  frontend/tests/unit/components/social/ThreadDetailForm.spec.js
  frontend/tests/unit/components/social/ThreadForm.spec.js
Due: frontend

Frontend: FoundFirstCompany
  frontend/src/views/FoundFirstCompany.vue
  frontend/tests/unit/mocks.js
  frontend/tests/unit/views/FoundFirstCompany.spec.js
Due: frontend

Backend: Fixed wrong calculation of free float
  backend/.coveragerc
  backend/stats/models.py
Due: backend

Frontend: 100% coverage FoundFirstCompany
  frontend/tests/unit/views/FoundFirstCompany.spec.js
Due: frontend

Frontend: Login coverage 100%
  frontend/src/views/Login.vue
  frontend/tests/unit/views/Login.spec.js
Due: frontend

Frontend; Bonds 100% coverage
  frontend/src/views/market/Bonds.vue
  frontend/tests/unit/views/market/Bonds.spec.js
Due: frontend

Frontend: MarketTrades 100% Coverage
  .github/workflows/main.yml
  frontend/tests/unit/views/market/MarketTrades.spec.js
Due: frontend

CI: Fix codecov actions failing
  .github/workflows/main.yml
Due: none

CI: All jobs now using codecov Github actions
  .github/workflows/main.yml
Due: none

Frontend: CompanyArticles & Shareholders 100% Coverage
  frontend/tests/unit/views/company/CompanyArticles.spec.js
  frontend/tests/unit/views/company/Shareholders.spec.js
Due: frontend

Frontend: Trades 100% coverage
  frontend/tests/unit/views/company/Trades.spec.js
Due: frontend

Frontend: More 100% coverage
  frontend/src/views/company/StatementOfAccount.vue
  frontend/tests/unit/views/company/BuyerSeller.spec.js
  frontend/tests/unit/views/company/StatementOfAccount.spec.js
Due: frontend

Frontend: Company disable coverage for logo
  frontend/src/views/company/Company.vue
Due: frontend

Frontend: Added GitHub button on navbar
  frontend/src/components/navbar/NavbarNotLoggedIn.vue
Due: frontend

Frontend: Company 100% coverage
  frontend/tests/unit/views/company/Company.spec.js
Due: frontend

Frontend: Order 100% coverage
  frontend/src/views/market/Order.vue
  frontend/tests/unit/views/market/Order.spec.js
Due: frontend

Frontend: More tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/social/Fonds.vue
  frontend/src/views/social/Profile.vue
  frontend/tests/unit/mocks.js
  frontend/tests/unit/views/social/Fonds.spec.js
  frontend/tests/unit/views/social/Profile.spec.js
Due: frontend

Frontend: Newspaper 100% coverage
  frontend/src/views/social/Messages.vue
  frontend/src/views/social/Newspaper.vue
  frontend/tests/unit/views/social/Newspaper.spec.js
Due: frontend

Frontend: coverage
  frontend/src/views/social/Chat.vue
  frontend/src/views/social/FondApplication.vue
  frontend/src/views/social/FondDetail.vue
  frontend/tests/unit/views/social/Chat.spec.js
  frontend/tests/unit/views/social/FondApplication.spec.js
  frontend/tests/unit/views/social/FondDetail.spec.js
  frontend/tests/unit/views/social/Messages.spec.js
Due: frontend

Frontend: Coverage
  frontend/src/components/social/FondApplicationsList.vue
  frontend/src/components/social/FondLeaveForm.vue
  frontend/src/components/social/FondProfileForm.vue
  frontend/src/components/social/MessageForm.vue
  frontend/tests/unit/components/social/FondApplicationsList.spec.js
  frontend/tests/unit/components/social/FondForum.spec.js
  frontend/tests/unit/components/social/FondLeaveForm.spec.js
  frontend/tests/unit/components/social/FondProfileForm.spec.js
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
  backend-chat: any of: backend/chat
